<main class="" style="height: 100% !important;">

  <div class="row" style="z-index: 1; height:100% !important;">

    <div class="col s12" style="height: 100% !important;">
      <div class="card-panel" style="background-color: rgba(255, 255, 255, 0.75); height:100% !important;">

        <h4 style="margin-bottom: 10px; display:flex; justify-content:center;">Signup</h4>

        <form class="form signup-form">
          <div class="form-group" style="padding-top: 15px !important;">
            <label for="name-signup"><span class="grey-text text-darken-4">name:</span></label>
            <input class="form-input" type="text" id="name-signup" />
          </div>
          <div class="form-group" style="padding-top: 15px !important;">
            <label for="email-signup"><span class="grey-text text-darken-4">email:</span></label>
            <input class="form-input" type="text" id="email-signup" />
          </div>
          <div class="form-group" style="padding-top: 15px !important;">
            <label for="password-signup"><span class="grey-text text-darken-4">password:</span></label>
            <input class="form-input" type="password" id="password-signup" />
            <label style="display: flex; align-items: center; gap: 6px; margin-top: 6px;">
              <input type="checkbox" class="toggle-password" data-target="password-signup" />
              <span class="grey-text">Show Password</span>
            </label>
          </div>
          <div class="form-group" style="padding-top: 15px !important;">
            <button class="waves-effect waves-light btn light-blue darken-3" type="submit"><span class="white-text">Sign
                up</span></button>
          </div>
        </form>

        <p id="signup-feedback" style="margin-top: 10px; color: red;"></p>

      </div>
    </div>
  </div>

  <script src="./js/signup.js"></script>

</main>