
    <video autoplay muted loop style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
    <source src="/media/beach.mp4" type="video/mp4">
    </video>

    

  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel teal">
        <div class="container" style="position: relative; z-index: 1;">
          <div class="row">
            <div class="col-md-6">

              <h4>Login</h4>

              <form class="form login-form">
                <div class="form-group">
                  <label for="email-login">email:</label>
                  <input class="form-input" type="text" id="email-login" />
                </div>
                <div class="form-group">
                  <label for="password-login">password:</label>
                  <input class="form-input" type="password" id="password-login" />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">login</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel teal">
        <div class="container" style="position: relative; z-index: 1;">
          <div class="row">
            <div class="col-md-6">

              <h4>Signup</h4>

              <form class="form signup-form">
                <div class="form-group">
                  <label for="name-signup">name:</label>
                  <input class="form-input" type="text" id="name-signup" />
                </div>
                <div class="form-group">
                  <label for="email-signup">email:</label>
                  <input class="form-input" type="text" id="email-signup" />
                </div>
                <div class="form-group">
                  <label for="password-signup">password:</label>
                  <input class="form-input" type="password" id="password-signup" />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">signup</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="./js/login.js"></script>
