
    <video autoplay muted loop style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
      <source src="/media/beach.mp4" type="video/mp4">
    </video>

    

  <div class="row valign-wrapper" style="z-index: 1; height:100%;">
    <!--Login section-->

      <div class="col s12">
        <div class="card-panel" style="background-color: rgba(255, 255, 255, 0.75);">
                <h4>Login</h4>

                <form class="form login-form">
                  <div class="form-group">
                    <label for="email-login"><span class="grey-text text-darken-4">email:</span></label>
                    <input class="form-input" type="text" id="email-login" />
                  </div>
                  <div class="form-group">
                    <label for="password-login"><span class="grey-text text-darken-4">password:</span></label>
                    <input class="form-input" type="password" id="password-login" />
                  </div>
                  <div class="form-group">
                    <button class="waves-effect waves-light btn orange lighten-3" type="submit"><span class="white-text">Login</span></button>
                  </div>
                </form>

        </div>
      </div>

    <!--OR divider section-->
        <div class="col s2">
        <h3 class="center-align" style="font-size: 1.5em"><span class="orange-text text-lighten-3">or</span></h3>
        </div>
    
    <!--Sign up section-->
      
        <div class="col s12">
          <div class="card-panel" style="background-color: rgba(255, 255, 255, 0.75);"> 

                <h4>Signup</h4>

                <form class="form signup-form">
                  <div class="form-group">
                    <label for="name-signup"><span class="grey-text text-darken-4">name:</span></label>
                    <input class="form-input" type="text" id="name-signup" />
                  </div>
                  <div class="form-group">
                    <label for="email-signup"><span class="grey-text text-darken-4">email:</span></label>
                    <input class="form-input" type="text" id="email-signup" />
                  </div>
                  <div class="form-group">
                    <label for="password-signup"><span class="grey-text text-darken-4">password:</span></label>
                    <input class="form-input" type="password" id="password-signup"/>
                  </div>
                  <div class="form-group">
                    <button class="waves-effect waves-light btn orange lighten-3" type="submit"><span class="white-text">Login</span></button>
                  </div>
                </form>

          </div>
        </div>
    
  </div>

<script src="./js/login.js"></script>
