<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Bucket List:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="bucketlistitems-name">Bucket List Item:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="bucketlistitems-item">Item:</label>
        <input class="form-input" type="text" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="bucketlistitems-category">Category:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
    <div class="form-group">
        <label for="bucketlistitems-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
    </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if bucketlistitems.length}}
  <div class="col-md-6 project-list">
    <h3>Current Bucketlist:</h3>

    {{#each bucketlistitems as |BucketListItem|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/User/{{user.id}}">{{BucketListItem.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./public/js/profile.js"></script>